:root{
    --primary: #9356DC ;
    --secondary : #FF79DA;
    --teritary: #99E2D0;
    scroll-behavior: smooth;
}
body {
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
    h1{
        font-weight: 700;
        font-size: 30px;
    }
    h3{
        font-weight: 200;
        font-size: 20px;
    }
    h2{
        font-weight: 600;
    }
}

header{
    img{
       width: 200px;
       margin-left: auto;
       margin-top: 18px;
       margin-bottom: 18px;
       margin-right: auto;
       display: block;
    }

}



.top{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgb(226, 226, 226);
    .upper{
        display: flex;
        border-top: solid 1px rgb(214, 214, 214);
        flex-direction: row;
        justify-content: center;
        width: 100%;
        text-align: center;
        padding: 0px;
        font-size: 13px;
        margin-top: 0;
        color: rgb(74, 74, 74);
        h2{
            font-size: 18px;
        }

        i{
            margin-top: 22px;
            margin-right: 14px;
            font-size: 20px;
        }
    }

    .bottom{
        text-align: center;
        background-color: rgb(236, 236, 236);
        padding: 45px;
        padding-top: 20px;
        h1{
            margin-left: 10px;
            margin-right: 10px;
        }
        h3{
            padding: 0;
        }
        .top_btn{
            border: 0px solid;
            border-radius: 50px;
            padding-left: 20px;
            padding-right: 20px;
            color: white;
            background: linear-gradient( var(--secondary), var(--primary));
            transition: 0.3s;
            h2{
                font-size: 16px;
                font-weight: 500;
            }
        }

        .top_btn:hover{
            box-shadow: 0px 2px 10px rgb(179, 179, 179); 
            background: linear-gradient( var(#ffc2ee), var(#4f4b54));
        }
    }

}


.fonctionnement{
    display: flex;
    flex-direction: column;
    h1{
        margin-left: 24px;
        margin-top: 30px;
    }
    .choice_btn{
        position: relative;
        h1{
            position: relative;
            font-size: 16px;
            text-align: center;
            margin-top: 14px;
            margin-left: -20px;
            font-weight: 400;
            background-color: var(--primary);
            color: rgb(255, 255, 255);
            width: 22px;
            height: 22px;
            border-radius: 100%;
        }
        h2{
            margin-top: 18px;
            font-size: 17px;
        }
        font-size: 13px;
        margin: auto;
        padding: 10px;
        border-radius: 25px;
        margin-top: 30px;
        width: 80%;
        box-shadow: 0px 2px 10px rgb(209, 209, 209); 
        display: flex;
        background-color: rgb(245, 245, 245);
        flex-direction: row;
        transition: 0.3s;
        i{
            font-size: 20px;
            color: rgb(130, 130, 130);
            margin-top: 27px;
            margin-left: 17px;
            margin-right: 17px;
        }
    }
    .choice_btn:hover{
        background-color: rgb(242, 231, 255);
        box-shadow: 0px 2px 10px rgb(179, 179, 179); 
        i{
            color: var(--primary);
        }
    }
}

.restaurants{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    margin-top: 40px;
    padding-bottom: 55px;
    h1{
        margin-left: 23px;
        margin-top: 55px;
        font-size: 24px;
    }
    .restaurant_card{
        margin: auto;
        a {
            width: 100%;
        }
        img{
            aspect-ratio: 2/1;
            width: 100%;
            border-radius: 15px 15px 0 0;
        }
        h4{
            position: absolute;
            right: 10%;
            font-size: 14px;
            padding: 7px 7px 7px 7px;
            border-radius: 3px;
            background-color: var(--teritary);
            color: darkcyan;
            margin-top: 3.5%;
        }
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        box-shadow: 0px 2px 10px rgb(209, 209, 209); 
        width: 85%;
        margin-top: 15px;
        .bottom_card{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .texts{

                h1, h3{
                    font-size: 18px;
                    margin-left: 12px;
                }
                h1{
                    margin-bottom: 0;
                    margin-top: 15px;
                }
                h3{
                    margin-top: 5px;
                }
            }

            .icon {
                display: flex;
                flex-direction: column;
                transition: 0.4s;
                i{
                    margin-top: 30px;
                    margin-right: 20px;
                    font-size: 25px;
                    transition: all 0.4s ease-in-out;
                }

           
                .full{
                    position: absolute;
                    color: rgb(0, 0, 0);
                    transform: scale(0);
                    margin-left: 1px;
                    font-size: 23px;
                }
   
            
            }.icon:hover{
                i{
                    color: var(--primary);
                }
                .full{
                    transform: scale(1);
                }
            }

        }
    }
}

.icon i:hover{
    .icon{
        .full{
            animation : heart 1s forwards;
        }
    }
    
}
@keyframes heart{
    0%{
        transform: scale(0.2);
    }100%{
        transform: scale(1);
    }
}

footer{
    display: flex;
    color: white;
    background-color: rgb(63, 63, 63);
    flex-direction: column;
    padding: 20px;
    padding-bottom: 42px;
    img{
        width: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        filter: brightness(0) invert(1);
    }
    .imaged_text{
        display: flex;
        flex-direction: row;
        margin-top: 10px;
        i{
            margin-top: 8px;
            font-size: 13px;
            margin-right: 8px;
        }
        h3{
            margin: 0;
            font-size: 15px;
            font-weight: 300;
        }
    }
}
/* TABLETTE */
@media screen and (min-width: 768px){
    body{
        width: 100%;
    }

    .top{
        width: 100%;

    }
}

/* DESKTOP */
@media screen and (min-width: 992px){
    body{
        width: 40%;
    }
    .restaurant_card {
        h4{
            display: none;
        }
    }
}

.loader{
    display: block; 
    animation: fadeOut 1.3s forwards 1;
    height: 100vh;

}
@keyframes fadeOut{
    from {
        opacity: 1;
    }
    99%{
        display: block;
        height: 100vh;
    }
    100%{
        visibility: hidden;
        height: 0;

    }

}

.lds-dual-ring {
    display: block;
    width: 80px;
    height: 80px;
    margin: auto;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid rgb(99, 99, 99);
    border-color: rgb(99, 99, 99) transparent rgb(99, 99, 99)transparent;
    animation: lds-dual-ring 1.3s forwards 1;
  }
  @keyframes lds-dual-ring {
    from {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

.page_content{
    animation: fadeIn 1.3s forwards 1;
}
@keyframes fadeIn{
    from {
        visibility: hidden;
    }
    99%{
        visibility: hidden;
    }
    100%{
        visibility: visible;
    }

}


