:root {
  --primary: #9356DC ;
  --secondary: #FF79DA;
  --teritary: #99E2D0;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}
body h1 {
  font-weight: 700;
  font-size: 30px;
}
body h3 {
  font-weight: 200;
  font-size: 20px;
}
body h2 {
  font-weight: 600;
}

header img {
  width: 200px;
  margin-left: auto;
  margin-top: 18px;
  margin-bottom: 18px;
  margin-right: auto;
  display: block;
}

.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgb(226, 226, 226);
}
.top .upper {
  box-shadow: 0px -6px 10px -1px rgb(216, 216, 216);
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  text-align: center;
  padding: 0px;
  font-size: 13px;
  margin-top: 0;
  color: rgb(74, 74, 74);
}
.top .upper h2 {
  font-size: 18px;
}
.top .upper i {
  margin-top: 22px;
  margin-right: 14px;
  font-size: 20px;
}
.top .bottom {
  text-align: center;
  background-color: rgb(236, 236, 236);
  padding: 45px;
  padding-top: 20px;
}
.top .bottom h1 {
  margin-left: 10px;
  margin-right: 10px;
}
.top .bottom h3 {
  padding: 0;
}
.top .bottom .top_btn {
  border: 0px solid;
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
  background: linear-gradient(var(--secondary), var(--primary));
}
.top .bottom .top_btn h2 {
  font-size: 16px;
  font-weight: 500;
}

.fonctionnement {
  display: flex;
  flex-direction: column;
}
.fonctionnement h1 {
  margin-left: 24px;
  margin-top: 30px;
}
.fonctionnement .choice_btn {
  font-size: 13px;
  margin: auto;
  padding: 10px;
  border-radius: 25px;
  margin-top: 30px;
  width: 85%;
  box-shadow: 0px 2px 10px rgb(209, 209, 209);
  display: flex;
  background-color: rgb(245, 245, 245);
  flex-direction: row;
  transition: 0.3s;
}
.fonctionnement .choice_btn h1 {
  font-size: 20px;
  margin-left: 0;
  margin-top: 14px;
  background-color: var(--primary);
  color: rgb(255, 255, 255);
  width: 30px;
  height: 30px;
  margin-right: 5px;
  border-radius: 100%;
}
.fonctionnement .choice_btn h2 {
  margin-top: 18px;
  font-size: 17px;
}
.fonctionnement .choice_btn i {
  font-size: 23px;
  color: rgb(183, 183, 183);
  margin-top: 27px;
  margin-left: 10px;
  margin-right: 15px;
}
.fonctionnement .choice_btn:hover {
  background-color: rgb(242, 231, 255);
}
.fonctionnement .choice_btn:hover i {
  color: var(--primary);
}

.restaurants {
  background-color: rgb(240, 240, 240);
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  padding-bottom: 55px;
}
.restaurants h1 {
  margin-left: 23px;
  margin-top: 55px;
  font-size: 24px;
}
.restaurants .restaurant_card {
  margin: auto;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 0px 2px 10px rgb(209, 209, 209);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-top: 15px;
}
.restaurants .restaurant_card img {
  aspect-ratio: 2/1;
  width: 100%;
  height: 165px;
  border-radius: 15px 15px 0 0;
}
.restaurants .restaurant_card .bottom_card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.restaurants .restaurant_card .bottom_card .texts h1, .restaurants .restaurant_card .bottom_card .texts h3 {
  font-size: 18px;
  margin-left: 12px;
}
.restaurants .restaurant_card .bottom_card .texts h1 {
  margin-bottom: 0;
  margin-top: 15px;
}
.restaurants .restaurant_card .bottom_card .texts h3 {
  margin-top: 5px;
}
.restaurants .restaurant_card .bottom_card .icon {
  display: flex;
  flex-direction: column;
}
.restaurants .restaurant_card .bottom_card .icon i {
  margin-top: 30px;
  margin-right: 20px;
}
.restaurants .restaurant_card .bottom_card .icon h3 {
  position: absolute;
  margin-top: -155px;
  font-size: 14px;
  padding: 7px;
  border-radius: 3.5px;
  font-weight: 600;
  right: 35px;
  background-color: var(--teritary);
  color: darkcyan;
}

footer {
  display: flex;
  color: white;
  background-color: rgb(63, 63, 63);
  flex-direction: column;
  padding: 20px;
  padding-bottom: 42px;
}
footer img {
  width: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  filter: brightness(0) invert(1);
}
footer .imaged_text {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
footer .imaged_text i {
  margin-top: 8px;
  font-size: 13px;
  margin-right: 8px;
}
footer .imaged_text h3 {
  margin: 0;
  font-size: 15px;
  font-weight: 300;
}/*# sourceMappingURL=main.css.map */