
:root{
    --primary: #9356DC ;
    --secondary : #FF79DA;
    --teritary: #99E2D0;
    scroll-behavior: smooth;
}
body{
    margin: 0 auto;
    font-family: 'Raleway', sans-serif;
}


header{
    display: flex;
    flex-direction: row;
    img{
       width: 200px;
       margin-left: auto;
       margin-top: 18px;
       margin-bottom: 18px;
       margin-right: auto;
       display: block;
    }
    i{
        position: absolute;
        margin-top: 21px;
        font-size: 23px;
        margin-left: 20px;
        color: rgb(64, 64, 64);
    }
}
.menu_parent{
    position: relative;
    footer{
        display: flex;
        color: white;
        background-color: rgb(63, 63, 63);
        flex-direction: column;
        padding: 20px;
        padding-bottom: 42px;
        img{
            width: 100px;
            padding-top: 20px;
            padding-bottom: 20px;
            filter: brightness(0) invert(1);
        }
        .imaged_text{
            display: flex;
            flex-direction: row;
            margin-top: 10px;
            i{
                margin-top: 8px;
                font-size: 13px;
                margin-right: 8px;
            }
            h3{
                margin: 0;
                font-size: 15px;
                font-weight: 300;
            }
        }
    }
}
.child_image{
    position: absolute;
    img{
        aspect-ratio: 1.6/1;
        width: 100%;
    }
}
.child_text{
    width: 100%;
    position: absolute;
    z-index: 2;
    margin-top: 180px;
    background-color: #f0f0f0;
    border-radius: 40px 40px 0 0;
    footer{
        margin-top: 0;
    }
}
.head_texts{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    h1{
        font-family: 'Shrikhand', cursive;
        font-weight: 700;
    }
    i{
        margin-top: 33px;
        font-size: 27px;
    }
}
.section{
    padding-top: 20px;
}
.section_title{
    h1{
        font-size: 15px;
        font-weight: 100;
    }
    margin-left: 20px;
    h1:after{
        content:"";
        margin-top: 5px;
        display: block;
        background-color: var(--teritary);
        width: 40px;
        height: 3.5px;
    }
}

.choix{
    background-color: white;
    margin: 20px;
    padding: 5px;
    border-radius: 19px;
    box-shadow: 0px 4px 10px 0px rgb(207, 207, 207); 
    h1{
        font-size: 17px;
        margin-bottom: 0px;
    }
    h2{
        margin-top: 3px;
        font-weight: 100;
        font-size: 15px;
    }
    h3{
        float: right;
        margin-top: -25px;
        margin-right: 10px;
        font-size: 15px;
        color: rgb(74, 74, 74);
    }
    h1, h2{
        margin-left: 7px;
    }
}
.btn_section{
    background-color: red;
}
.commander{
    background: linear-gradient( var(--secondary), var(--primary));
    border-radius: 35px;
    color: white;
    padding: 5px 45px 5px 45px;
    margin-left: 24%;
    font-size: 11px;
    border: 0px;
    margin-bottom: 60px;
    margin-top: 35px;
}
